.no_country {
  margin-top: 5px;
  border-radius: 40px;
  padding: 10px 20px;
  border: none;
  background-color:  #ffffff88;
  border: 1px solid #ffffff;
  color: #000000;
  font-weight: 500;
  text-transform: capitalize;
}